body {
    padding-bottom: 3rem;
    color: black;
  }
  .nav-item {
    display: inline-block;
    padding: 2px 10px;
    border-radius:5px;
    font-weight: bold;
    margin-left:10px;
    border:1px solid transparent;
    transition: border ease-in 0.2s;
  }
  .nav-item.active,.nav-item:hover {
    border:1px solid red;
    transition: border ease-in 0.2s;
  }
  .btn.btn-primary.btn-lg.home{
    padding: 10px 50px;
    background-color:#FB0000;
    border-color:#FB0000;
    transition: background ease-in-out 0.2s;
  }

  .btn.btn-primary.btn-lg.home:active,.btn.btn-primary.btn-lg.home:hover{
    background-color:transparent;
    border-color:#FB0000;
    color:black;
    box-shadow: 0 0 0 0 #FB0000;
    transition: background ease-in-out 0.2s;
  }

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }


  /* MARKETING CONTENT
  -------------------------------------------------- */

  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }


  /* Featurettes
  ------------------------- */

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }

  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }


  /* RESPONSIVE CSS
  -------------------------------------------------- */

  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }

    .featurette-heading {
      font-size: 50px;
    }
  }

  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

body{
    font-family: 'Open Sans', sans-serif;
}
div.jumbotron.home{
    padding:10em 5em;
    margin:none;
}
div.row.home{
    height: 3em;
}
img.home-img{
    width:100%
}

.clients_logo_area .clients_slider .item {
    text-align: center;
}
    .clients_logo_area .clients_slider .item img {
      width: auto;
      text-align: center;
      display: block;
      margin: auto;
      line-height: 70px;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%);
      opacity: .2;
      transition: all 300ms linear 0s; }
    .clients_logo_area .clients_slider .item:hover img {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      filter: grayscale(0%); }
